@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

body{
    font-size: 16px;
    background-color: #FFF;
    color: #6d7b93; 
    margin: 0%;
    font-family: 'Rubik', sans-serif;
}


body::-webkit-scrollbar{
    width: 12px;
}

body::-webkit-scrollbar-thumb{
    background-color: #1f3e72;
    border-radius: 5px;
}

/*---------------Diseño del nav---------------*/

header{
    background-color: rgba(255,255,255,0.8);
    backdrop-filter: blur(10px); 
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 185px;
    padding: 0px 165px;

    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
}

header h2{
    font-size: 2.3em;
    color: #2747c5;
    font-weight: 700;
}

nav li{
    float: left;
    list-style: none;
}

nav li a{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0px 30px;
    color: #6d7b93;
    text-decoration: none;
}

#hoax-button a{
    color: white;
    background-color: #3858d6;
    padding: 20px 40px;
    margin: 0;
    border-radius: 10px;
}

/*-----------------Landing page-------------------*/

#landing-page{
    display: flex;
    height: 133vh;
}

/* .triangulo-1 {
    z-index: 0;
    width: 0;
    height: 0;
    border-left: 110px solid transparent;
    border-right: 110px solid transparent;
    border-top: 110px solid #f4f6fb;
}

.triangulo-1{
    margin: 185px 0px 0px 60px;
    position: absolute;
}


.triangulo-2{
    width: 0;
    height: 0;
    border-top: 150px solid transparent;
    border-right: 150px solid #f4f6fb;
    border-bottom: 150px solid transparent;
    z-index: 0;
}

.triangulo-2{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 65vh;
    margin-left: 81.7vh;
} */

/*-------Parte izquierda--------*/

.landing-izquierda{
    box-sizing: border-box;
    padding-top: 250px;
    padding-left: 160px;
    width: 50%;
}

.landing-izquierda h1{
    margin-bottom: 50px;
    font-size: 5em;
    color: #1f3e72;

    animation: slideInLeft; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
}

.landing-izquierda p{
    height: 130px;
    line-height: 1.5;
    font-size: 1.5em;
    animation: slideInLeft; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
}

.landing-izquierda b{
    font-weight: 500;
    font-size: 1.5em;
    display: inline-flex;
    align-items: center;
    margin-top: 40px;

    animation: slideInLeft; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
}

.landing-izquierda box-icon{
    height: 40px; 
    width: 40px;
    padding: 7px;
    border-radius: 5px;
    background-color: #fffae5;
}

.schedule-vaccine{
    margin-top: 200px;
}

.schedule-vaccine box-icon{
    background-color: #eef2ff;
}

/*-------parte derecha-------*/

.landing-derecha{
    overflow: hidden;
    width: 50%;
    background: linear-gradient(70deg, #1685e2, #2a70de);
}

.landing-derecha img{
    padding-top: 70px;
    height: 100%;
}




/*------------------------Caja flotante del landing-------------------*/

.floating-box{
    background-color: rgba(253, 254, 255, 0.9);
    
    /*Por si se usa efecto glassmorphism*/
    
    /* background-color: rgba(253, 254, 255, 0.3);
    backdrop-filter: blur(20px); */
    width: 70%;
    height: 190px;
    margin-top: 108vh;
    margin-left: 160px;
    border-radius: 10px;
    border: 2px solid #ffffff;
    box-shadow: 0px 20px 20px rgba(153, 153, 153, 0.5);
    position: absolute;
}


.floating-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: sans-serif;
    font-size: 1.5em;
    box-sizing: border-box;
}


.floating-box p{
    color: black;
}

.floating-box a{
    text-decoration: none;
    padding: 20px 40px;
    border-radius: 10px;
    color: #FFF;
    background-color: #3555d3;
}

.floating-box table{
    width: 70%;
    border-collapse: collapse;
    text-align: center;
}

.floating-box table th{
    font-weight: 400;
}

.floating-box table td{
    font-size:2rem;
    font-weight: 700;
    color: #1f3e72;
}



/*-------------Logos de las vacunas-----------------*/


#logo-vaccines{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 150px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}


#logo-vaccines img{
    width: 300px;
    opacity: 0.2;
}




/*----------------Informacion acerca de la vacunacion------------------*/

#info-vaccine{
    height: auto;
}


#info-vaccine h2{
    font-size: 4em;
    color: #1f3e72;
    padding: 0px 0px 0px 150px;
}

.info-vaccine-parraf{
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 0px 0px 0px 150px;
}


.vacci-info-container{
    width: 100%;
    margin: 0;
    padding: 40px auto;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column; 
    transition: all 0.3s ease-in-out;
    
    width: auto;
    margin: 20px;
    padding: 40px 40px 70px 40px;
    background-color: #FFF;
    border: 3px solid #fafaff;
    border-radius: 10px;
}

.card:hover{
    box-shadow: 10px 10px 20px rgba(128, 128, 128, 0.5);
    cursor: pointer;
}

.card box-icon{
    width: 25px;
    background-color: lightblue;
}

.card h3{
    color: #3a5684;
    font-weight: 400;
    font-size: 2rem;
}

.card p{
    margin: 0;
    font-size: 1.5rem;
    text-align: start;
}







/*-------------Responsive 1200px------------------*/

@media screen and (max-width: 1440px) {
   
   /*------------------header----------------*/
   
    header{
        padding-left: 50px;
        height: 150px;    
    } 

    header h2{
        font-size: 2em;
    }

    nav li a{
        margin: 0px 10px;
        font-size: 1rem;
        padding: 10px 20px;
    }


   /*-------------------Landing page------------------*/
   #landing-page{
        height: 120vh;
        padding: 0; 
   }


   .landing-izquierda{
        padding-left: 100px;
    }

    .landing-izquierda h1{
        margin-top: 30px;
        margin-bottom: 60px;
        font-size: 4em;
        color: #1f3e72;
    }

    .landing-derecha img{
        align-items: center;
    }


    .schedule-vaccine{
        margin-top: 80px;
    }


    .floating-box{
        margin-top: 95vh;
    }


    /*Logos de las marcas*/

    #logo-vaccines img{
        width: 250px;
    }
    
    .vacci-info-container{
        width: 100%;
        margin: 0;
        padding: auto;
    }

    .card{
        width: 35%;
        align-items: center;
    }
  }

/*-----------------responsive de 900 pc*/

@media screen and (max-width: 900px) {

        
    /*------------------header----------------*/
    
    header{
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 140px;    
    } 

    header h2{
        margin-top: 10px;
        font-size: 2em;
    }

    nav li a{
        display: flex;
        align-items: center;
        margin: 0;
        justify-content: space-around;
        font-size: 1rem;
    }

    #hoax-button a{
        color: white;
        background-color: #3858d6;
        padding: 10px 20px;
        margin: 0;
        border-radius: 10px;
    }


    /*-------------------Landing page------------------*/
    #landing-page{
        height: 100vh;
        padding: 0; 
        display: flex;
    }

    .landing-izquierda{
        width: 100%;
        position: absolute;
        padding-left: 100px;
        z-index: 0;
    }

    .landing-izquierda h1{
        margin-top: 30px;
        margin-bottom: 60px;
        font-size: 4em;
        color: #1f3e72;
    }

    .landing-izquierda p{
        color: #495263;
    }


    .landing-derecha{
        z-index: -1;
        width: 100%;
        opacity: 0.5;
    }

    .landing-derecha img{
        align-items: center;
    }


    .schedule-vaccine{
        margin-top: 80px;
    }


    .floating-box{
        font-size: 1.5rem;
        box-sizing: border-box;
        margin: 0;
        width: 100%;
        margin-top: 100vh;
        border-radius: 0px;
    }

    .table-subtitles{
        font-size: 0.9rem;
    }


    /*Logos de las marcas*/
    #logo-vaccines{
        padding: 150px 0px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }


    #logo-vaccines img{
        margin-top: 100px;
        width: 150px;
    }

    #info-vaccine{
        align-items: center;
        margin: auto;
    }

    #info-vaccine h2, 
    .info-vaccine-parraf{
        padding: 0px 0px 0px 100px;
    }

    .floating-box table td{
        font-size:1.7rem;
        font-weight: 700;
        color: #1f3e72;
    }

    .vacci-info-container{
        width: 100%;
        margin: 0;
        padding: auto;
    }

    .card{
        width: 30%;
        align-items: center;
    }
}




/*---------------------Responsive para celular------------------*/



@media screen and (max-width: 412px) {

        
    /*------------------header----------------*/
    
    header{
        width: 421px;
        padding: 10px;
        height: auto;
        box-sizing: border-box;
    }
    
    header h2{
        margin: auto;
        font-size: 2em;
    }

    nav li a{
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        font-size: 1rem;
    }

    #hoax-button a{
        color: white;
        background-color: #3858d6;
        margin: 0;
        border-radius: 10px;
    }


    /*-------------------Landing page------------------*/
    #landing-page{
        height: 100vh;
    }

    .landing-izquierda{
        padding: 200px  0px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        box-sizing: border-box;
    }

    .landing-izquierda h1{
        margin: auto;
        font-size: 2.5em;
        color: #1f3e72;
    }

    .landing-izquierda p{
        margin-top: 60px;
        font-size: 1.1rem;
        color: #495263;
    }

    .landing-izquierda b{
        margin-top: 40px;
        font-size: 1.1rem;
        color: #495263;
    }


    .landing-derecha{
        z-index: -1;
        width: 100%;
        opacity: 0.5;
        box-sizing: border-box;
    }

    .landing-derecha img{
        align-items: center;
    }


    .schedule-vaccine{
        margin-top: 100px;
    }


    .floating-box{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        font-size: 1rem;

        box-sizing: border-box;
        margin: 0;
        width: 100%;
        padding: 10px;
        height: auto;
        margin-top: 95vh;
    }

    .floating-box table{
        width: 100%;
        border-collapse: collapse;
        text-align: center;
    }
    
    .floating-box table th{
        font-weight: 700;
    }
    
    .floating-box table td{
        font-size:1.5rem;
        font-weight: 500;
        color: #1f3e72;
    }


    /*Logos de las marcas*/
    #logo-vaccines{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 50px;
    }


    #logo-vaccines img{
        height: auto;
        margin-top: 20px;
        margin-bottom: 0;
    }

    #info-vaccine{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
    }

    #info-vaccine h2{
        box-sizing: content-box;
        margin: 0;
        padding: 40px;
        font-size: 3em;
    }

    #info-vaccine p{
        margin: 0;
        padding: 40px;
        font-size: 1.2rem;
    }

    .vacci-info-container{
        width: 100%;
        margin: 0;
        padding: auto;
    }

    .card{
        width: 100%;
        align-items: center;
    }

    .card h3{
        font-size: 2rem;
    }
}



